.navbar{
    background-color: #3e4ceb;
}

body{
    background-color: white;
}

.info-text{
    padding: 50px;
    background-color: #f8e6fe;
}

.margin{
    margin-top: 50px;
    margin-bottom: 50px;
}

.opcoes-inicio{
    background-color: #f8e6fe;
}

.menu-ini{
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
}

.img-menu{
    height: 200px;
}